/* Basic Styles */
:root {
    --bg: #eee;
    --text: #111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace, 'Courier New', Courier;
    line-height: 1.6;
    font-size: 0.75em;
    margin: 40px;
    background-color: var(--bg);
    color: var(--text);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
    --bg: #111;
    --text: #eee;
}

section {
    margin-bottom: 40px;
}

h1, h2 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 1em;
    font-weight: bold;
    min-width: 300px;
}

h1::before, 
h1::after,
.hero p::before,
nav .nav-links::before {
    content: "-------------------------------";
    display: block;
    font-weight: normal;
}

h2::before {
    content: "// ";
}

a {
    text-decoration: underline;
    cursor: pointer;
    color: inherit;
}

a:hover {
    color: var(--bg); 
    background-color: var(--text);
}

button {
    background-color: var(--bg);
    padding: 0.25em 0.5em;
    color: var(--text);
    font: inherit;
    border: 1px solid var(--text);
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    background-color: var(--text);
    color: var(--bg);
}

nav {
    height: 100px;
    display: block;
}

.ascii-art {
    white-space: pre;
    line-height: 1.2;
}

.nav-links {
    list-style: none;
}

/* Hero section */
.hero {
    height:  calc(100vh - 180px);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

/* SKills section */
.skill-group, .contact-container {
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
}

.skill-group h2 {
    flex: 1;
    min-width: 200px;
}

.skill-items {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.skill-item {
    display: flex;
    font-size: 1em;
}

.skill-item img {
    margin-right: 10px;
    width: 1em;
}

/* Projects section */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project {
    max-width: 300px;
}

.project-desc {
    min-height: 100px;
    margin-bottom: 1.5em; 
}

.project::after {
    content: "---------";
    display: block;
    margin-top: 1em;
}

/* Theme toggle */
.theme-toggle input[type="radio"] {
    display: none;
}

.theme-toggle label {
    cursor: pointer;
    padding-left: 2em;
    position: relative;
}

.theme-toggle label::before {
    content: "[ ]";
    position: absolute;
    left: 0;
}

#light:checked ~ label[for="light"]::before,
#dark:checked ~ label[for="dark"]::before {
    content: "[X]";
}

/* Contact Form */
.contact-info {
    flex: 1;
    min-width: 200px;
}

.contact-form {
    flex: 2;
    min-width: 300px;
}

.contact-form form {
    width: 90%;
}

.contact-form label {
    display: block;
    margin-bottom: 0.5em;
}

.contact-form input,
.contact-form textarea {
  border: 1px dashed #555;
  background-color: transparent;
  color: var(--text);
  font: inherit;
  padding: 6px;
  width: 100%;
  margin-bottom: 1em;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid var(--text);
    border-color: var(--text); 
}

.contact-form textarea {
  height: 100px;
}

/* Flying Plane */
.ascii-art-section {
    display: flex;
    overflow: hidden;
    justify-content: flex-end;
    width: 0%;
    animation: moveRightAtScroll 1s linear;
    animation-timeline: scroll();
}

@keyframes moveRightAtScroll {
    80% {width: 100%;}
}

/* Responsive Layout */
@media (max-width: 768px) {

  .contact-container {
    flex-direction: column;
  }  

  .contact-info {
    margin-top: 40px;
    order: 2;
  }

  .contact-info::before {
    content: "-------------------------------";
  }

  .contact-form {
    order: 1;
  }

  .contact-form form {
    width: 100%;
  }
}